<%= simple_form_for(@enrollment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :grade %>
    <%= f.association :student %>
    <%= f.association :course_offering %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
