<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @enrollment.grade %>
</p>

<p>
  <strong>Student:</strong>
  <%= @enrollment.student %>
</p>

<p>
  <strong>Course offering:</strong>
  <%= @enrollment.course_offering %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
