<%= form_for @course_offering, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :section_number, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :section_number, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :year, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :year, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :semester, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :semester, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  course_offerings_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
