<h1>List of Queries</h1>

<p>Names of all students who have taken a Course by parvesh biyani<br>
<%= link_to "Query 1", "/queries/1" %>
</p>

<p>all the time slots never used<br>
<%= link_to "Query 2", "/queries/2" %>
</p>

<p>all courses taught in both the Monsoon 2014 semester and in the Winter 2015 semester <br>
<%= link_to "Query 3", "/queries/3" %>
</p>

<p>the number of instructors in each department who teach a course in the Winter 2015 semester<br>
<%= link_to "Query 4", "/queries/4" %>
</p>

<p>List of students taking 2 credit course in winter 2015<br>
<%= link_to "Query 5", "/queries/5" %>
</p>
